<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://instahub20240922062720.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/8013b200-aefa-4197-aec4-dd1894dbce15/resourceGroups/API/providers/Microsoft.ContainerRegistry/registries/InstaHub20240922030718</ContainerResourceId>
    <ContainerResourceName>InstaHub20240922030718</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>instahub20240922030718.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8013b200-aefa-4197-aec4-dd1894dbce15/resourcegroups/newGroup/providers/Microsoft.Web/sites/InstaHub20240922062720</ResourceId>
    <ResourceGroup>newGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://instahub20240922062720.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c2f5c09a-9c64-4115-b69a-1dc6b446f9f8</ProjectGuid>
  </PropertyGroup>
</Project>