<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://instahubbackend-grfmdnexbsezhwh6.scm.germanywestcentral-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/8013b200-aefa-4197-aec4-dd1894dbce15/resourcegroups/Backend_Apis/providers/Microsoft.ContainerRegistry/registries/InstaHub20240921201027</ContainerResourceId>
    <ContainerResourceName>InstaHub20240921201027</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>instahub20240921201027.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8013b200-aefa-4197-aec4-dd1894dbce15/resourceGroups/Backend_Apis/providers/Microsoft.Web/sites/InstaHubBackend</ResourceId>
    <ResourceGroup>Backend_Apis</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://instahubbackend-grfmdnexbsezhwh6.germanywestcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c2f5c09a-9c64-4115-b69a-1dc6b446f9f8</ProjectGuid>
  </PropertyGroup>
</Project>